/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/log/*.pid
/tmp
/config/database.yml
db/structure.sql
db/schema.rb
config/symmetric_encryption
public/uploads
public/assets
/.idea
/.env
/.ruby-gemset
/.yardoc
coverage
